.card {
	width: 150px;
	height: 150px;
	background-color: transparent;
	margin: 0.5rem;
	position: relative;
	cursor: pointer;
}

.cover-img {
	width: 100%;
	height: 100%;
}

.main-img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.back .main-img {
	transform: rotateY(90deg);
	/* transition: transform .05s linear; */
}

.back .cover-img {
	transform: rotateY(0deg);
	/* transition: transform .05s linear; */
}

.front .cover-img {
	transform: rotateY(90deg);
	transition: transform 0.05s linear;
}
.front .main-img {
	transform: rotateY(0deg);
	transition: transform 0.05s linear;
}
